

<!doctype html>
<html>
<head>
    <title>Convertir Imagen a DMC</title>
</head>
<body>
    <h1>Convertidor DMC a PDF</h1>
    <form method="post" enctype="multipart/form-data">
        <label>Sube una imagen:</label>
        <input type="file" name="imagen" required><br><br>

        <label>Selecciona una paleta:</label>
        <select name="paleta" required>
            <option value="matizados">Matizados</option>
            <option value="pasion">Pasión</option>
            <option value="pastel">Pastel</option>
            <option value="amazon1">Amazon1</option>
        </select><br><br>

        <button type="submit">Convertir a PDF</button>
    </form>
</body>
</html>
